{%  extends "template/base.html" %}

{% block titulo %}

Formulario para nuevos hoteles:

{% endblock %}


{% block contenidoquecambia %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteles</title>
</head>
<body>
    {% for i in hotels %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">{{i.name}}</h3>
            <h4 class="card-text">{{i.location}}</h4>
            <p class="card-text">Fecha de Entrada: {{i.date_departue}}</p>
            <p class="card-text">Fecha de Salida: {{i.date_return}}</p>
            <p class="card-text">Precio: {{i.price}}</p>
        </div>
    </div>

    {% endfor %}
</body>
</html>

{% endblock  %}