{%  extends "template/base.html" %}

{% block titulo %}

Hoteles

{% endblock %}


{% block contenidoquecambia %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteles</title>
</head>
<body>
    {% for i in hotels %}

    <div class="card" style="width: 20rem;">
        {% if i.image %}
        <image src="{{ i.image.url }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h3 class="card-title">{{i.name}}</h3>
            <h4 class="card-text">{{i.location}}</h4>
            <p class="card-text">Fecha de Entrada: {{i.date_departue}}</p>
            <p class="card-text">Fecha de Salida: {{i.date_return}}</p>
            <h3 class="card-text">Precio: ${{i.price}}</h3>
        {% if request.user.is_superuser %}
            <a href="/info/update-hotel/{{ i.id }}/" class="btn btn-warning">Editar</a>
            <a href="/info/delete-hotel/{{ i.id }}/" class="btn btn-danger">Borrar</a>
        {% endif %}
        {% if request.user.is_authenticated %}
            <a href="/not-found/" class="btn btn-primary">Seleccionar</a>
        {% endif %}
        </div>
    </div>

    {% endfor %}
    {% if request.user.is_superuser %}
    <a href="/info/create-hotel/" class="btn btn-success">Crear</a>
    {% endif %}
</body>
</html>

{% endblock  %}