{%  extends "template/base.html" %}

{% block titulo %}

Formulario para nuevos hoteles:

{% endblock %}


{% block contenidoquecambia %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquetes</title>
</head>
<body>
    {% for paquete in paquetes %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h2 class="card-title">{{paquete.name}}</h2>
        <h3 class="card-subtitle mb-2 text-muted">{{paquete.location}}</h3>
        <p class="card-text">{{paquete.description}}</p>
        <h3 class="card-title">Precio: {{paquete.price}}</h3>
        </div>
    </div>

    {% endfor %}
</body>
</html>

{% endblock  %}