{%  extends "template/base.html" %}

{% block titulo %}

Vuelos
{% endblock %}


{% block contenidoquecambia %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelos</title>
</head>
<body>
    {% for i in vuelos %}

        <div class="card" style="width: 18rem;">
            {% if i.image %}
            <image src="{{ i.image.url }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
            <h2 class="card-title">{{i.name}}</h2>
            <p class="card-text">Partida: {{i.departure}}</p>
            <p class="card-text">Destino: {{i.destination}}</p>
            <p class="card-text">Fecha de Ida: {{i.date_departue}}</p>
            <p class="card-text">Fecha de Vuelta: {{i.date_return}}</p>
            <h3 class="card-title">Precio: {{i.price}}</h3>
            <a href="/info/update-vuelo/{{ i.id }}/" class="btn btn-primary">Editar</a>
            <a href="/info/delete-vuelo/{{ i.id }}/" class="btn btn-danger">Borrar</a>
            </div>
        </div>

    {% endfor %}
    <a href="/info/create-vuelo/" class="btn btn-success">Crear</a>
</body>
</html>

{% endblock  %}
